.container {
    width: 500px;
    position: absolute;
    top: 10%;
    left: 20%;
    border-radius: 10px;
    padding: 10px;
    transform: translateX(-50%);
    background-color: #247781;
    color: #ffffff;
    font-size: 15px;
}

.container .avatar {
    width: 100px;
}